lversion: "3.9"

services:
  bot:
    container_name: manajemen_bot
    build: .
    restart: always
    env_file:
      - .env
    volumes:
      - .:/app
      - ./data:/app/data
      - ./logs:/app/logs
    environment:
      - TZ=Asia/Jakarta
    deploy:
      resources:
        limits:
          cpus: "0.50"
          memory: 512M
